<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <!-- Meta
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Vitae - Responsive HTML5 vCard Template">
    <meta name="author" content="LGLab">

    <title>Vitae</title>


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="stylesheet" href="css/screen.css" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/modernizr.custom.js"></script>


    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

</head>



<body>

    <div class="preloader main">
        <img class="hidden" src="images/icons/preloader_dark.gif" alt="">
    </div>


    <!--
    ///////////////
    Start main content
    ///////////////
    -->

    <section class="wrapper" data-backgroundImage="images/background/1.jpg">


        <!-- Start navigation -->
        <nav class="main">
            <div class="famenu">
                <span>MENU</span>
            </div>
            <ul>
                <li class="selected fahome">
                    <a href="#home">
                        <span>HOME</span>
                    </a>
                </li>
                <li class="faprofile">
                    <a href="#profile">
                        <span>PROFILE</span>
                    </a>
                </li>
                <li class="faresume">
                    <a href="#resume">
                        <span>RESUME</span>
                    </a>
                </li>
                <li class="faportfolio">
                    <a href="#portfolio">
                        <span>PORTFOLIO</span>
                    </a>
                </li>
                <li class="facontact">
                    <a href="#contact">
                        <span>CONTACT</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End navigation -->

        <!--
        ///////////////
        Start Home page
        ///////////////
        -->
        <div class="container" id="home">



            <div class="clearfix row-fourty"></div>

            <!-- Top image -->
            <figure class="one row">
                <img class="scaletofit" src="images/home/1.jpg" alt="">
            </figure>


            <!-- Name/Job title -->
            <header class="onehalf row">
                <h1>DYLAN MARINI</h1>
                <h3>Web Developer-Designer</h3>
            </header>


            <!-- Social icons -->
            <div class="onehalf row top-fifteen">

                <ul class="socialIcons large float-right">
                    <li class="linkedin">
                        <a class="tooltip" data-tooltipText="LinkedIn" data-tooltipDirection="s" target="_blank" href="http://themeforest.net/user/LGLab"></a>
                    </li>
                    <li class="facebook">
                        <a class="tooltip" data-tooltipText="Facebook" data-tooltipDirection="s" target="_blank" href="http://themeforest.net/user/LGLab"></a>
                    </li>
                    <li class="twitter">
                        <a class="tooltip" data-tooltipText="Twitter" data-tooltipDirection="s" target="_blank" href="http://themeforest.net/user/LGLab"></a>
                    </li>
                    <li class="dribble">
                        <a class="tooltip" data-tooltipText="Dribble" data-tooltipDirection="s" target="_blank" href="http://themeforest.net/user/LGLab"></a>
                    </li>
                    <li class="instagram last">
                        <a class="tooltip" data-tooltipText="Instagram" data-tooltipDirection="s" target="_blank" href="http://themeforest.net/user/LGLab"></a>
                    </li>
                </ul>

            </div>


            <div class="clearfix"></div>


            <!-- Intro text -->
            <div class="one row whiteBg pad20 boxsizing">
                <h4>INTRODUCTION</h4>
                <p>Hi there! I design and develop engaging user experiences and intuitive user interfaces for the web. I am
                    easy to work with and great at communicating with a team to execute and create beautiful and unique websites.
                    Basically, i sit in front of my shiny computer and create super cool websites for super cool people.</p>

            </div>

            <div class="clearfix row-sixty"></div>


        </div>
        <!--
        ///////////////
        End Home page
        ///////////////
        -->



        <!--
        ///////////////
        Start Profile page
        ///////////////
        -->
        <div class="container" id="profile">

            <!-- Header -->
            <header class="one row">
                <h2>
                    <span class="faIcon profile"></span>PROFILE</h2>
            </header>



            <!-- Intro text -->
            <div class="twothird row whiteBg pad20 boxsizing">

                <h4>
                    <span class="faIcon small dark male"></span>ABOUT ME</h4>
                <p>Praesent
                    <strong>pellentesque hendrerit</strong> ipsum vitae rhoncus. Nullam porta placerat lorem eget iaculis. Sed auctor,
                    magna at porta auctor, enim sapien commodo mauris, non lobortis ligula libero et felis. Suspendisse rutrum
                    libero dui, a porta mi tincidunt quis. Etiam id semper dui. Proin id erat pellentesque, sagittis lectus
                    nec, cursus dolor.
                    <span class="highlightBg">Vivamus nec tortor orci.</span> Quisque sit amet lobortis massa, ac posuere enim. Curabitur sagittis
                    malesuada massa volutpat porttitor.</p>
                <!-- End intro text -->

                <div class="clearfix row"></div>

                <!--tabs-->
                <div class="row tabs" data-autoPlay="false" data-autoDelay="3000">

                    <h4>
                        <span class="faIcon small dark sitemap"></span>SERVICES</h4>
                    <ul>
                        <li>
                            <a href="#tabs-1">Web Design</a>
                        </li>
                        <li>
                            <a href="#tabs-2">Front-end</a>
                        </li>
                        <li>
                            <a href="#tabs-3">Back-end</a>
                        </li>
                    </ul>

                    <div id="tabs-1">

                        <p>Aenean egestas nisl at urna pretium suscipit. Nam purus nisi, mattis
                            <strong>dignissim consectetur</strong> vel, sollicitudin pulvinar risus. Morbi aliquam scelerisque bibendum.
                            Sed iaculis fringilla risus, sit amet pretium felis faucibus sed. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque consectetur hendrerit diam eu malesuada. Fusce ac diam
                            nec nibh
                            <strong>vulputate mollis</strong> ut quis dui. Praesent sed magna mauris.</p>


                    </div>

                    <div id="tabs-2">
                        <p>Donec metus libero, sollicitudin ut laoreet dapibus, suscipit
                            <strong>sit amet eros</strong>. Nam lacinia urna id quam placerat a feugiat elit placerat. Proin dignissim
                            blandit tincidunt. Pellentesque in lectus in ipsum varius dapibus. Donec sed turpis massa, nec
                            ultrices lorem. Sed molestie, nulla at commodo placerat, dolor sem interdum quam, quis pellentesque
                            urna massa ut metus. Etiam quis metus vitae odio euismod sodales ac id quam. Donec rhoncus purus
                            scelerisque lacus pretium tempus. Nulla facilisi. Cras laoreet augue a sapien porttitor nec vehicula
                            mauris vulputate. Donec tristique orci tellus. Pellentesque habitant morbi tristique senectus
                            et netus et malesuada fames ac turpis egestas.
                            <strong>Nunc erat libero</strong>, tincidunt vitae condimentum eget, porta a dolor.</p>
                    </div>

                    <div id="tabs-3">
                        <p> Nunc congue, nisi ac egestas consectetur, metus elit fermentum ante, eu malesuada nibh ipsum et diam.
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
                            quis purus nunc, volutpat ultricies risus. Vestibulum congue nisl non ligula commodo ac feugiat
                            dui suscipit. Vivamus ac turpis eget urna facilisis semper id a libero. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Donec ut urna est. In tristique euismod congue.
                            <strong>Integer at justo</strong> ac augue vestibulum commodo sed id diam. Integer vehicula tellus ut
                            dolor accumsan blandit. Pellentesque semper, sapien vel dictum placerat, est elit luctus eros,
                            ac pretium lacus orci nec tellus. Curabitur commodo, sem non adipiscing egestas, massa libero
                            porttitor orci, eu hendrerit risus
                            <strong>dolor at lorem</strong>. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. Curabitur eleifend, mi id aliquam ullamcorper, elit tellus dignissim
                            nibh, eget bibendum odio erat ut ante.</p>
                    </div>

                </div>
                <!--end tabs-->



                <!--start reel-->
                <!-- <div class="scaleframe row">
                    <h4>
                        <span class="faIcon small dark video"></span>REEL</h4>
                    <iframe width="695" height="392" src="http://player.vimeo.com/video/31286404" frameborder="0" allowfullscreen></iframe>
                </div> -->
                <!--end reel-->

            </div>


            <!--Start sidebar-->
            <div class="onethird row">
                <h4>
                    <span class="faIcon small star"></span>WHAT I'M GOOD AT</h4>
                <!--Start accordion-->
                <ul class="acc" id="acc">
                    <li>
                        <h4>
                            <span class="icon"></span>HTML5</h4>
                        <div class="acc-section">
                            <div class="acc-content">
                                Aliquam nec nisl non est dignissim
                                <strong>ullamcorper mauris</strong>. Suspendisse nec mauris ligula, at laoreet diam. Aenean est elit,
                                rutrum non lacinia in, ultrices at elit. Maecenas met dignissim neque imperdiet ante posuere
                                non gravida eros dictum. Mauris lobortis egestas nisl, sit amet blandit
                                <strong>purus tincidunt</strong> at. Integer sit amet orci eu est interdum.
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>
                            <span class="icon"></span>CSS3</h4>
                        <div class="acc-section">
                            <div class="acc-content">
                                Maecenas at viverra ante. Pellentesque habitant morbi
                                <strong>tristique senectus</strong> et netus et malesuada fames ac turpis egestas. Aliquam tristique
                                sollicitudin eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                <strong>posuere cubilia</strong> Curae; Donec id urna vitae nunc rutrum convallis sit amet vel elit.
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>
                            <span class="icon"></span>jQUERY</h4>
                        <div class="acc-section">
                            <div class="acc-content">
                                Vivamus lectus nibh, dignissim in accumsan in, tempus
                                <strong>eget urna</strong>. Aliquam id quam in magna varius pharetra ac eget est. Nullam ornare gravida
                                volutpat. Nunc at quam eget ligula vehicula imperdiet in id tortor. Donec vehicula
                                <strong>aliquet tellus</strong>, id lacinia justo euismod sit amet. Fusce iaculis neque felis, vitae
                                imperdiet orci.
                            </div>
                        </div>
                    </li>

                    <li>
                        <h4>
                            <span class="icon"></span>JAVASCRIPT</h4>
                        <div class="acc-section">
                            <div class="acc-content">
                                Curabitur ut purus magna,
                                <strong>vitae tincidunt</strong> neque. Vestibulum gravida erat eu quam pulvinar ultrices. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec adipiscing
                                ligula quis ipsum iaculis tristique. Pellentesque eu lectus
                                <strong>quis nunc blandit</strong> vulputate.
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>
                            <span class="icon"></span>C++</h4>
                        <div class="acc-section">
                            <div class="acc-content">
                                Curabitur ut purus magna,
                                <strong>vitae tincidunt</strong> neque. Vestibulum gravida erat eu quam pulvinar ultrices. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec adipiscing
                                ligula quis ipsum iaculis tristique. Pellentesque eu lectus
                                <strong>quis nunc blandit</strong> vulputate.
                            </div>
                        </div>
                    </li>
                </ul>
                <!--//End accordion-->


                <!--Start twitter-->
                <h4>
                    <span class="faIcon small twittersign"></span>LATEST TWEETS</h4>
                <div class="whiteBg pad20">
                    <div class="tweets"></div>
                </div>

                <!--End twitter-->

            </div>
            <!--//End sidebar-->


            <!--Circles-->
            <section>
                <div class="one row-ten">
                    <h4>
                        <span class="faIcon small signal"></span>MY SKILLS</h4>
                </div>
                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="60" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>HTML5</h4>
                </div>

                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="70" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>CSS3</h4>
                </div>

                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="58" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>jQUERY</h4>
                </div>


                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="63" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>JAVASCRIPT</h4>
                </div>

                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="32" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>C++</h4>
                </div>

                <div class="onefourth tight progresscircles row-thirty center">
                    <div class="arc row-ten" data-percent="85" data-sign="%" data-size="190" data-fontSize="40" data-stokewidth="30" data-innerStrokeColor="#fefefd"
                        data-strokeColor="#129078" data-circleColor="" data-textColor="#fefefd"></div>
                    <h4>Humor</h4>
                </div>


            </section>
            <!--End Circles-->

            <div class="clearfix row-fourty"></div>


        </div>
        <!--
        ///////////////
        End Profile page
        ///////////////
        -->


        <!--
        ///////////////
        Start Resume page
        ///////////////
        -->
        <div class="container" id="resume">

            <!-- Header -->
            <header class="one row">
                <h2>
                    <span class="faIcon resume"></span>RESUME</h2>
            </header>



            <!-- experience -->
            <div class="twothird row whiteBg pad20 boxsizing">

                <h4 class="row">
                    <span class="faIcon small dark briefcase"></span>EXPERIENCE</h4>

                <ul class="education left20">

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2009 to Jul. 2012</span>
                        </div>
                        <div class="school">
                            <strong>Redware Limited - Graphic Designer</strong>
                        </div>
                        <p>Vivamus lectus nibh, dignissim in accumsan in, tempus
                            <strong>eget urna</strong>. Aliquam id quam in magna varius pharetra ac eget est. Nullam ornare gravida
                            volutpat. Nunc at quam eget ligula vehicula imperdiet in id tortor. Donec vehicula
                            <strong>aliquet tellus</strong>, id lacinia justo euismod sit amet fusce.</p>
                        <p>
                            <strong>Lorem ipsum:</strong>
                        </p>
                        <ul class="disc">
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                        </ul>

                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2009 to Jul. 2012</span>
                        </div>
                        <div class="school">
                            <strong>Redware Limited - Graphic Designer</strong>
                        </div>
                        <p>Vivamus lectus nibh, dignissim in accumsan in, tempus
                            <strong>eget urna</strong>. Aliquam id quam in magna varius pharetra ac eget est. Nullam ornare gravida
                            volutpat. Nunc at quam eget ligula vehicula imperdiet in id tortor. Donec vehicula
                            <strong>aliquet tellus</strong>, id lacinia justo euismod sit amet fusce.</p>
                        <p>
                            <strong>Lorem ipsum:</strong>
                        </p>
                        <ul class="disc">
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                        </ul>

                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2009 to Jul. 2012</span>
                        </div>
                        <div class="school">
                            <strong>Redware Limited - Graphic Designer</strong>
                        </div>
                        <p>Vivamus lectus nibh, dignissim in accumsan in, tempus
                            <strong>eget urna</strong>. Aliquam id quam in magna varius pharetra ac eget est. Nullam ornare gravida
                            volutpat. Nunc at quam eget ligula vehicula imperdiet in id tortor. Donec vehicula
                            <strong>aliquet tellus</strong>, id lacinia justo euismod sit amet fusce.</p>
                        <p>
                            <strong>Lorem ipsum:</strong>
                        </p>
                        <ul class="disc">
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                            <li>Ipsum vitae rhoncus</li>
                        </ul>

                    </li>

                </ul>

            </div>


            <!-- education/interests -->
            <div class="onethird row whiteBg pad20 boxsizing">


                <h4 class="row">
                    <span class="faIcon small dark book"></span>EDUCATION</h4>

                <ul class="education left20">

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2009 to Jul. 2012</span>
                        </div>
                        <div class="school">
                            <strong>Harvard University - Graphic Design Major</strong>
                        </div>
                        <p>Praesent pellentesque hendrerit ipsum vitae rhoncus. Nullam porta placerat lorem eget iaculis.</p>

                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2006 to Jul. 2009</span>
                        </div>
                        <div class="school">
                            <strong>College of Arts - Art Sciences Degree</strong>
                        </div>
                        <p>Praesent pellentesque hendrerit ipsum vitae rhoncus. Nullam porta placerat lorem eget iaculis.</p>

                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark calendar"></span>
                            <span class="highlightBg">Sept. 2003 to Jul. 2009</span>
                        </div>
                        <div class="school">
                            <strong>Italia University - Masters of all Degrees</strong>
                        </div>
                        <p>Praesent pellentesque hendrerit ipsum vitae rhoncus. Nullam porta placerat lorem eget iaculis.</p>

                    </li>

                </ul>


                <h4 class="row">
                    <span class="faIcon small dark heart"></span>INTERESTS</h4>


                <p>Vivamus lectus nibh, dignissim in accumsan in, tempus
                    <strong>eget urna</strong>. Aliquam id quam in magna varius pharetra ac eget est. Nullam ornare gravida volutpat.
                    Nunc at quam eget ligula vehicula imperdiet in id tortor.</p>



            </div>

            <div class="clearfix"></div>


            <!--interests icons-->
            <div class="one">
                <h4>
                    <span class="faIcon small heart"></span>STUFF I LIKE TO DO</h4>
            </div>

            <div class="onefifth row-thirty center">
                <span class="faIcon bordered globe tooltip" data-tooltipText="Travelling" data-tooltipDirection="n"></span>
            </div>

            <div class="onefifth row-thirty center">
                <span class="faIcon bordered camera tooltip" data-tooltipText="Photography" data-tooltipDirection="n"></span>
            </div>

            <div class="onefifth row-thirty center">
                <span class="faIcon bordered martini tooltip" data-tooltipText="Drinking cocktails" data-tooltipDirection="n"></span>
            </div>

            <div class="onefifth row-thirty center">
                <span class="faIcon bordered headphones tooltip" data-tooltipText="Listening to music" data-tooltipDirection="n"></span>
            </div>

            <div class="onefifth row-thirty center">
                <span class="faIcon bordered food tooltip" data-tooltipText="Eating pizza" data-tooltipDirection="n"></span>
            </div>
            <!--End interests icons-->


            <div class="clearfix row-thirty"></div>




        </div>
        <!--
        ///////////////
        End Resume page
        ///////////////
        -->




        <!--
        ///////////////
        Start Portfolio page
        ///////////////
        -->
        <div class="container" id="portfolio">

            <!-- Header -->
            <header class="one row">
                <h2>
                    <span class="faIcon portfolio"></span>PORTFOLIO</h2>
            </header>


            <!--Start portfolio-->

            <article class="portfolioSingle hidden">
                <div class="twothird row scaleframe"></div>
                <div class="onethird row"></div>
                <nav class="onethird row">
                    <span class="prev"></span>
                    <span class="next"></span>
                    <span class="link"></span>
                    <span class="close"></span>
                </nav>

            </article>


            <figure class="onefourth row" data-largeMedia="https://pinkzerogames.files.wordpress.com/2015/08/promotional.png"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/project_one/" data-target="_blank">
                <img class="scaletofit pic" src="https://www.casino.org/blog/wp-content/uploads/roulette-wheel.jpg" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="http://www.abacabdorkingtaxis.co.uk/wp-content/uploads/2017/05/Abacab-Train-station-Taxis.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/train-scheduler/" data-target="_blank">
                <img class="scaletofit pic" src="https://i.pinimg.com/originals/08/1c/bd/081cbd65fbd4c890606960d4a4f18a29.jpg" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="http://11points.com/wp-content/uploads/2012/09/dominatehangman-1600.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/Word-Guess-Game/" data-target="_blank">
                <img class="scaletofit pic" src="https://i.chzbgr.com/full/6788007424/h637BADE6/" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://static1.squarespace.com/static/55c672ece4b029ac822d96b7/55de4862e4b08a3733428ae1/5605bd4ae4b0b215acc1fbce/1443216753223/giphhhhhyyyyy.gif"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/GifTastic/" data-target="_blank">
                <img class="scaletofit pic" src="https://media.giphy.com/media/Axqr1hNEmGJiw/giphy.gif" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://i.pinimg.com/originals/28/c1/84/28c18462e6a8ffba1c7f9c30fad50af9.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/unit-4-game/" data-target="_blank">
                <img class="scaletofit pic" src="https://vignette.wikia.nocookie.net/southpark/images/9/9c/Coon-and-Friends.png/revision/latest?cb=20170926100230" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.mapleridge.ca/calendar/Trivia%20Night%202018%20April.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://wheresdylan.github.io/TriviaGame/" data-target="_blank">
                <img class="scaletofit pic" src="https://abovethelaw.com/wp-content/uploads/2015/10/trivia-pic.jpg" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="./the_file_name.svg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="https://github.com/wheresdylan/bamazon_SQL" data-target="_blank">
                <img class="scaletofit pic" src="https://i.ytimg.com/vi/hGZX_SA7lYg/maxresdefault.jpg" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.elegantthemes.com/blog/wp-content/uploads/2017/05/coming-soon.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="http://themeforest.net/user/LGLab" data-target="_blank">
                <img class="scaletofit" src="http://quickcocinero.com/wp-content/uploads/2016/08/coming-soon-500x500.png" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.elegantthemes.com/blog/wp-content/uploads/2017/05/coming-soon.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="http://themeforest.net/user/LGLab" data-target="_blank">
                <img class="scaletofit" src="http://quickcocinero.com/wp-content/uploads/2016/08/coming-soon-500x500.png" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.elegantthemes.com/blog/wp-content/uploads/2017/05/coming-soon.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="http://themeforest.net/user/LGLab" data-target="_blank">
                <img class="scaletofit" src="http://quickcocinero.com/wp-content/uploads/2016/08/coming-soon-500x500.png" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.elegantthemes.com/blog/wp-content/uploads/2017/05/coming-soon.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="http://themeforest.net/user/LGLab" data-target="_blank">
                <img class="scaletofit" src="http://quickcocinero.com/wp-content/uploads/2016/08/coming-soon-500x500.png" alt="" />
                <span class="hover"></span>
            </figure>

            <figure class="onefourth row" data-largeMedia="https://www.elegantthemes.com/blog/wp-content/uploads/2017/05/coming-soon.jpg"
                data-mediaType="image" data-largeTitle="SINGLE IMAGE" data-largeDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis magna a erat varius laoreet. Sed facilisis, urna sed pulvinar euismod, velit ante ullamcorper quam, at auctor erat justo id lacus."
                data-url="http://themeforest.net/user/LGLab" data-target="_blank">
                <img class="scaletofit" src="http://quickcocinero.com/wp-content/uploads/2016/08/coming-soon-500x500.png" alt="" />
                <span class="hover"></span>
            </figure>


            <!--End portfolio-->





            <div class="clearfix row-sixty"></div>



        </div>
        <!--
        ///////////////
        End Portfolio page
        ///////////////
        -->



        <!--
        ///////////////
        Start Contact page
        ///////////////
        -->
        <div class="container" id="contact">

            <!-- Header -->
            <header class="one row">
                <h2>
                    <span class="faIcon contact"></span>CONTACT</h2>
            </header>


            <div class="onethird row whiteBg pad20 boxsizing">

                <h4 class="row">Matt Johnson</h4>
                <ul class="education">

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark envelope"></span>
                            <span class="highlightBg">Address</span>
                        </div>
                        <p>103 Prince Street, New York
                            <br />NY 10012
                            <br /> USA</p>
                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark desktop"></span>
                            <span class="highlightBg">Website</span>
                        </div>
                        <p>
                            <a class="link" href="http://themeforest.net/user/LGLab">http://mattjohnsondesign.com</a>
                        </p>
                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark inbox"></span>
                            <span class="highlightBg">Email</span>
                        </div>
                        <p>
                            <a class="link" href="mailto:mattjohnson@gmail.com">mattjohnson@gmail.com</a>
                        </p>
                    </li>

                    <li>
                        <div class="date">
                            <span class="faIcon tiny dark phone"></span>
                            <span class="highlightBg">Phone</span>
                        </div>
                        <p>(212) 226-3126</p>
                    </li>



                </ul>

            </div>





            <!--Contact form-->
            <article class="twothird row contactForm">

                <div id="message"></div>

                <form method="post" action="classes/contact.php" name="contactform" id="contactform">

                    <fieldset>

                        <input name="name" type="text" id="name" size="30" value="Name*" />


                        <input name="email" type="text" id="email" size="30" value="Email*" />

                        <textarea name="comments" cols="40" rows="3" id="comments">Message*</textarea>


                        <input type="submit" class="submit button normal reverted" id="submit" value="SUBMIT" />

                        <!--
                  <p class="verifyText">Are you human?<span class="required">*</span></p>
                  <label for="verify" accesskey="V" id="verifyImage"><img src="classes/image.php" alt="Image verification"/></label>
                  <input name="verify" type="text" id="verify" size="6" value="" style="width: 50px;" /><br /><br />
                  -->

                    </fieldset>

                </form>




            </article>
            <!--//Contact form-->



            <div class="clearfix row-fourty"></div>



        </div>
        <!--
        ///////////////
        End Contact page
        ///////////////
        -->






    </section>



    <!--
    ///////////////
    End main content
    ///////////////
    -->



    <!-- JS
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/jacked.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.min.js"></script>
    <script type="text/javascript" src="js/raphael.js"></script>
    <script type="text/javascript" src="js/jquery.inview.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo-1.4.3.js"></script>
    <script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="js/tipsy/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
    <script type="text/javascript" src="js/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="js/vitae.js"></script>





</body>

<style>
    .pic{
        height:225px !important;
    }
</style>

</html>